*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
    background-color: #121212;
    color: #f8f8f8;
    text-align: center;

}

.bmi{
    font-size: 10vw;
}

label{
    font-size: 20px;
}


input{
    color: #ffffff;
    background-color: #2c2c2c;
    padding: 10px 5px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #ffffff;
}



button{
    background-color: #FFA500;
    color: black;
    padding: 10px 18vw;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 15px;
}

button:hover{
    scale: 1.1;

}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    padding-top: 14vw;
    padding-left: 15px;
    padding-right:15px ;
}

.result{
    font-weight: bold;
    font-size: 18px;
    color: #FFA500;
}

table{
    width: 50%;
    margin: 20px auto;
    background-color: #1e1e1e;
    box-shadow: 0px 0px 10px rgba(255, 165, 0, 0.6);
    border-collapse:collapse;
}

th,td{
    border: 2px solid #ffffff;
}

th {
    background-color: #FFA500;
    color: black;
    font-size: 18px;
}
td {
    font-size: 16px;
}

@media (max-width: 600px) {
    form {
        width: 80%;
    }
    table {
        width: 90%;
    }
}