*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;

}

body{
    background-color: #212121;
    color: aliceblue;
    padding: 40px;
}

h1{
    font-size: 30px;
}


#parent{
    margin-top: 40px;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 100px;

}

button{
    height: 100px;
    width: 200px;
    margin: 50px;
    color: aliceblue;
    background-color: rgb(98, 2, 234);
    font-size: 30px;
    border-radius: 30px;
}